.registration-form {
  margin: 0 auto;
  padding-top: 30px;
  max-width: 320px;

  &__label {
    margin-right: 30px;
  }

  &__title {
    margin-bottom: 30px;
    text-align: center;
  }

  &__button {
    margin-top: 30px;
    width: 100%;
  }
}

